.job-block {
    width: 100%;
    max-width: 1400px;
    min-height: 164px;
    margin: 8px auto;
    border: 0.5px solid #e6e9f2;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: row;

    font-family: 'Proxima Nova';

}

/* клас для відобрашення курсора поінтером */
.pointer {
    cursor: pointer;
}



.photo-info {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.rate-pin-post {
    display: flex;
    flex-direction: row;
    width: 30%;
}

/* частина з налаштуванням відображення фото */
.photo {
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 26px;
}

img {
    height: 85px;
    width: 85px;
    border-radius: 50%;
}

/* частина з налаштуванням загальної інформації */
.info {

    margin-top: 24px;
    width: 70%;
    min-width: 45%;
    color: grey;
    line-height: 25px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    color: #616a81;
    text-decoration: none;
}

.salary-name {
    margin-top: 8px;
    font-size: 16px;
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    margin-bottom: 24px;
    margin-top: 8px;
}


/* налаштування рейтингу */
.rate {

    margin: auto;
    text-align: right;
    width: 50%;

}

/* налаштування правої частина з букмарком і датою */
.pin-post {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: grey;
}

.bookmark {
    margin-top: 29px;
    margin-right: 24px;
    text-align: right;

}

.posted {
    margin-bottom: 24px;
    margin-right: 16px;
    text-align: right;
    font-size: 16px;


}

/* стилі іконок */
.material-symbols-outlined {
    color: #38415D;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 200,
        'opsz' 48
}

.fill {
    color: #38415D;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 200,
        'opsz' 48
}


pagination-controls {
    text-align: center;
}

@media only screen and (max-width: 850px) {
    .job-block {
        flex-direction: column-reverse;
        width: 400px;
    }

    .photo-info {
        width: 100%;
    }

    .info {
        margin-top: 5px;
    }

    .rate-pin-post {
        width: 70%;
        margin-left: 30%;

    }

    .pin-post {
        flex-direction: row;
        justify-content: right;
    }

    .bookmark {
        width: 0;
        display: none;
    }

    .posted {
        margin: auto;
        text-align: right;
        font-size: 14px;
        align-content: center;
    }

    .rate {
        margin: 0;
        text-align: left;
        font-variation-settings:
            'FILL' 0,
            'wght' 100,
            'GRAD' 200,
            'opsz' 48
    }

    .rate>div>span {
        width: 15px;
        height: 15px;
    }

    .fill {
        font-variation-settings:
            'FILL' 1,
            'wght' 100,
            'GRAD' 200,
            'opsz' 48
    }
}